<html>

<head>
    {% if title %}
    <title>{{ title }} - Recipe Scraper</title>
    {% else %}
    <title>Recipe Scraper</title>
    {% endif %}
</head>

<body>
    <div>
        Recipe Scraper:
        <a href="/index">Home</a>
        <a href="/login">Login</a>
    </div>
    <hr> {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %} {% block content %}{% endblock %}
</body>

</html>