<html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Recipes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
    <h1>Hello, {{ user.username }}!</h1>
    <div class="card">
        <h2>Instructions</h2>
        <ul class="list-group list-group-flush">
            {% for r in recipes %}
            <li class="list-group-item">{{ r }}</li>
            {% endfor %}
        </ul>
    </div>

</body>

</html>